<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/cadastroVantagem.js" defer></script>
</head>
<body>
    <input id="nome" class="form-control" type="text">
    <input id="desc" class="form-control" type="text">
    <input id="preco" class="form-control" type="text">
    <input id="url" class="form-control" type="text">
    <button onclick="cadastrarVantagem()" type="button"> Cadastrar </button>
</body>
</html>