<!DOCTYPE html>
<html>

<head>
    <title>Visualizar todas as empresas</title>
    <script src="../js/main.js" defer></script>
    <script src="../js/aluno.js" defer></script>
</head>

<body onload="estaLogado(0)">
    <div class="p-2">
        <a href="index.html"><h1><i class="bi bi-arrow-left-circle mr-1"></i>Início</h1></a>
    </div>
    <h1>Empresas Cadastradas</h1>
    <div id="empresas"></div>

    <script>
        function viewAllEmpresas() {
            fetch("http://localhost:3000/viewAllEmpresas", {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' },
            }).then(function (res) {
                res.json().then(function (data) {
                    if (!data.empresas) {
                        window.alert(`${data.tipo} - ${data.mensagem}`)
                    } else {
                        let empresasDiv = document.getElementById('empresas');
                        data.empresas.forEach(empresa => {
                            empresasDiv.innerHTML += `<p>Nome: ${empresa.nome},   CNPJ: ${empresa.cnpj},   Email: ${empresa.email}</p>`;
                        });
                    }
                })
            })
        }

        window.onload = viewAllEmpresas;
    </script>
</body>

</html>