<!DOCTYPE html>
<html>
<head>
    <title>Visualizar todos os alunos</title>
    <link rel="stylesheet" href="listas.css">
    <script src="../js/main.js" defer></script>
    <script src="../js/aluno.js" defer></script>
</head>
<body onload="estaLogado(0)">
    <div class="p-2">
        <a href="index.html"><h1><i class="bi bi-arrow-left-circle mr-1"></i>Início</h1></a>
    </div>
    <h1>Alunos Cadastrados</h1>
    <div id="alunos"></div>

    <script>
        function viewAllAlunos() {
            fetch("http://localhost:3000/viewAllAlunos", {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' },
            }).then(function(res) {
                res.json().then(function(data) {
                    if(!data.alunos){
                        window.alert(`${data.tipo} - ${data.mensagem}`)
                    } else {
                        let alunosDiv = document.getElementById('alunos');
                        data.alunos.forEach(aluno => {
                            alunosDiv.innerHTML += `<p>Nome: ${aluno.nome}, CPF: ${aluno.cpf}, Email: ${aluno.email}, Endereço: ${aluno.endereco}, Instituição: ${aluno.Instituicao_id}, Curso: ${aluno.Curso_idCurso}</p>`;
                        });
                    }
                })
            })
        }

        window.onload = viewAllAlunos;
    </script>
</body>
</html>
