html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    width: 700px;
    background-color: rgb(168, 194, 218);
    padding: 40px;
}

.btn-primary {
    width: 150px !important;
}

.form-group, .btn_cadastrar, .btn_inicio {
    display: flex;
}

.form-group {
    align-items: center;
}
.btn_cadastrar {
    justify-content: center
}
.btn_inicio {
    background-color: #000;
}