.transacao {
    width: 400px;
    height: 170px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(168, 194, 218);
    border: 1px solid rgb(93, 106, 119); 
}

.transacao.gasto {
    background-color: rgba(241, 47, 47, 0.699);
}

.infos {
    padding: 10px;
}
.infos p {
    margin-bottom: 3px;
}

form {
    margin-top: 85px;
}
.paginas_info {
    margin-left: 10%;
}

#infoAluno {
    padding: 40px;
}

#vantagens{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.vantagem{
    width: 48vw;
    height: auto;
    padding: 15px;
    margin: 10px 0px;
    background-color: rgb(168, 194, 218);
    border: 1px solid rgb(93, 106, 119); 
    
}

button{
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.vantagem>.infos>div>img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}

.vantagem>.infos>div:first-of-type {
    display: flex;
    justify-content: center;
}

@media (max-width: 815px) {
    .vantagem {
        width: 90vw;
    }

    #titulo, #infoAluno {
        text-align: center;
    }
}

#recebimentosMobile, #comprasMobile {
    display: none;
}

#recebimentosPC, #comprasPC {
    display: block;
}

@media (max-width: 890px) {
    #compras, #transacoes {
        display: flex;
        flex-direction: row;
        width: 90vw;
        max-width: 100%;
        overflow-x: auto;
        flex-basis: 100%;
    }

    #recebimentosMobile, #comprasMobile {
        display: block;
    }
    
    #recebimentosPC, #comprasPC {
        display: none;
    }
}