header, .img_header {
    position: fixed;
}

header {
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(168, 194, 218);
    color: #fff;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px 3px 8px rgb(104, 104, 104);
}

.img_header {
    width: 150px;
    height: auto;
    margin-top: -15px;
}

.nome_site {
    margin-left: 110px;
}

.btns_header {
   flex-direction: row;
}

.inicio:hover, .opc_login:hover, .opc_perfil:hover {
    color: #1b4f99;
    text-decoration: none;
}

.caixa_login, .caixa_perfil {
    font-size: 35px;
    margin-right: 40px;
}

.nome_site, .caixa_login, .caixa_perfil {
    margin-bottom: 0px;
}

.opc_login, .opc_perfil {
    margin: 10px;
    padding: 5px;
}

.opc_login:hover, .opc_perfil:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.form-group, .btns_header, header {
    display: flex;
    align-items: center;
}

.titulo_pag {
    width: auto;
    margin-bottom: -7px;
    margin-left: 10px;
    font-family: Impact, fantasy;
}

.icon {
    margin-left: 10px;
}

.nome_site, .inicio, .opc_login, .opc_perfil {
    color: #000;
}