html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
main {
    display: flex;
    width: 100%;
    justify-content: center;
}
.frase {
    display: flex;
    align-items: center;
    height: 322px !important;
    margin-left: 80px;
    font-family: OCR A Std, monospace;
    font-style: italic;
}
form {
    display: flex;
    flex-direction: column;
    width: 800px !important;
    background-color: rgb(168, 194, 218);
    padding: 20px;
    padding-top: 40px;
}
.botoes {
    width: 100%;
    display: flex;
    justify-content: center;
}
#tipo {
    width: 150px;
}

@media (max-width: 1320px) {
    .frase {
        display: none;        
    }
  }